<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="ct-chart" id="TotalUniqueBotVisits"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Total Unique Bot Visits</h4>
                            <!-- <p class="card-category">Last Session Performance</p> -->
                        </div>
                        <!-- <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> last session just now
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="ct-chart" id="TotalBotConversation"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Total Bot Conversation</h4>
                            <!-- <p class="card-category">Last Session Performance</p> -->
                        </div>
                        <!-- <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> last session just now
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="ct-chart" id="InteractionRate"></div>
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">Interaction Rate</h4>
                            <!-- <p class="card-category">Last Session Performance</p> -->
                        </div>
                        <!-- <div class="card-footer">
                            <div class="stats">
                                <i class="material-icons">access_time</i> last session just now
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>