<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row" *ngFor="let item of formData" >
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <div class="row card">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th class="bold" scope="col">Session ID</th>
                                    <th scope="col">{{item.session_id}}</th>
                                </tr>
                            </thead>
                            <tbody *ngFor="let bodyitem of item.session_data" >
                                <tr *ngFor="let i of bodyitem | keyvalue" >
                                    
                                    <td class="bold" [class.bold] = "i.key === 'form_title' || i.key === 'form_titel'">{{i.key}}</td>
                                    <td class="bold" [class.bold] = "i.key === 'form_title' || i.key === 'form_titel'">{{i.value}}</td>
                                
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>
    </div>
</div>