/* You can add global styles to this file, and also import other style files */
/* 
.ct-chart .ct-label .ct-horizontal .ct-end {
    position: relative;
    justify-content: flex-end;
    text-align: right;
    transform-origin: 100% 0;
    transform: translate(-100%) rotate(-45deg);
    white-space:nowrap;
}


.ct-chart .ct-label .ct-vertical .ct-end {
    position: relative;
    justify-content: flex-end;
    text-align: right;
    transform-origin: 100% 0;
    transform: translate(-100%) rotate(-45deg);
    white-space:nowrap;
} */