<mat-grid-list cols="3" rowHeight="3:1">
    <mat-grid-tile (click)="alert('Super admin')" >Super admin</mat-grid-tile>
    <mat-grid-tile (click)="alert('Farm owner')">Farm owner</mat-grid-tile>
    <mat-grid-tile (click)="alert('IPM')">IPM</mat-grid-tile>
    <mat-grid-tile (click)="alert('Grower')">Grower</mat-grid-tile>
    <mat-grid-tile (click)="alert('Office staff')">Office staff</mat-grid-tile>
    <mat-grid-tile (click)="alert('Applicator')">Applicator</mat-grid-tile>
    <mat-grid-tile (click)="alert('Worker')">Worker</mat-grid-tile>
  </mat-grid-list>